<!DOCTYPE html>
<html>
<head>
  <title>BffService</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
<div class="wrapper">
	<h1>Bus Frequency Tracking System</h1>
	<%= yield %>
</div>


</body>
</html>


